<?xml version="1.0"?>
<connectionStrings>
  <add name="DefaultConnection" connectionString="data source=.\\sqlexpress;initial catalog=EMRIntegrationMaster;integrated security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  <add name="EMRIntegrationMaster" connectionString="data source=.\\sqlexpress;initial catalog=EMRIntegrationMaster;integrated security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  <add name="AthenaStaging" connectionString="data source=.\\sqlexpress;initial catalog=IntelliHStagingAthena;integrated security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />

    <!--<add name="DefaultConnection" connectionString="data source=sqldb.westus2.cloudapp.azure.com;initial catalog=DevData;integrated security=True;User ID=IntellihAdmin;Password=Intellih@123;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  <add name="EMRIntegrationMaster" connectionString="data source=data source=sqldb.westus2.cloudapp.azure.com;initial catalog=DevData;integrated security=True;User ID=IntellihAdmin;Password=Intellih@123;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  <add name="AthenaStaging" connectionString="data source=sqldb.westus2.cloudapp.azure.com;initial catalog=EMRStagingDB;integrated security=True;User ID=IntellihAdmin;Password=Intellih@123;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
</connectionStrings>